In [2]:
import pandas
import matplotlib.pyplot as plt

In [3]:
merged_optimized_data = pandas.read_csv("../processed_datasets/log_data_optimized_merged.csv")
merged_optimized_data.head()

,Unnamed: 0,t,planSummary,planningTimeMicros,cursorExhausted,queryFramework,reslen,cpuNanos,filter,$eq,...,selector,standard_logical,all_operators,null_operand,regex_null_operand,text,label,query_length_raw,keywords_only,query_length_keywords_only
0,0,1.712243e+09,EOF,83.0,True,classic,118,176371,"{'user': '{}', 'password': '{}'}",0,...,1,1,1,1,1,"{""user"": ""{}"", ""password"": ""{}""}",0,32,"{: {}, : {}}",12
1,1,1.712243e+09,EOF,83.0,True,classic,118,176371,"{'user': '{}', 'password': '{}'}",0,...,1,1,1,1,1,"{""user"": ""{}"", ""password"": ""{}""}",0,32,"{: {}, : {}}",12
2,2,1.712243e+09,EOF,71.0,True,classic,118,112781,{'username': {'$regex': '^{}'}},0,...,1,1,1,1,1,"{""username"": {""$regex"": ""^{}""}}",1,31,{: {$regex: ^{}}},17
3,3,1.712243e+09,EOF,71.0,True,classic,118,112781,{'username': {'$regex': '^{}'}},0,...,1,1,1,1,1,"{""username"": {""$regex"": ""^{}""}}",1,31,{: {$regex: ^{}}},17
4,4,1.712243e+09,EOF,42.0,True,classic,118,71093,{'username': {'$ne': '{}'}},0,...,1,1,1,1,1,"{""username"": {""$ne"": ""{}""}}",1,27,{: {$ne: {}}},13

In [5]:
sample_1 = merged_optimized_data[merged_optimized_data['label'] == 1]
sample_0 = merged_optimized_data[merged_optimized_data['label'] == 0]